In [1]:

import pandas
mydataset = {
'cars': ["BMW", "Volvo", "Ford"],
'passings': [3, 7, 2]
}
myvar = pandas.DataFrame(mydataset)
print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [2]:
import pandas as pd
# Creating a Series from a list
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print(series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
import pandas as pd
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
print("Series Representation:\n",series)
array_representation = series.values
index_object = series.index
print("Array Representation:", array_representation)
print("Index Object:", index_object)
a = [1, 7, 2]
myvar = pd.Series(a, index = ["x", "y", "z"])
print(myvar)
data = [10, 20, 30, 40, 50]
index_labels = ['a', 'b', 'c', 'd', 'e']
series = pd.Series(data, index=index_labels)
print(series)
print(series['b'])
print(series[['a', 'c', 'e']])
gt=series > 25
print("series>25= \n",gt)
series_filtered = series[series > 25]
print("Filtered Series:\n", series_filtered)
series_multiplied = series * 2
print("\nSeries after Scalar Multiplication:\n", series_multiplied)
population_dict = {'California': 38332521,
'Texas': 26448193,
'New York': 19651127,
'Florida': 19552860,
'Illinois': 12882135}
population = pd.Series(population_dict)
print(population)
print('California' in population)
print('Canada' in population)
index_labels=['a','b','c','d','e']
series_with_nan=pd.Series(data,index=index_labels)
print(series_with_nan)

Series Representation:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Array Representation: [10 20 30 40 50]
Index Object: RangeIndex(start=0, stop=5, step=1)
x    1
y    7
z    2
dtype: int64
a    10
b    20
c    30
d    40
e    50
dtype: int64
20
a    10
c    30
e    50
dtype: int64
series>25=
 a    False
b    False
c     True
d     True
e     True
dtype: bool
Filtered Series:
 c    30
d    40
e    50
dtype: int64

Series after Scalar Multiplication:
 a     20
b     40
c     60
d     80
e    100
dtype: int64
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64
True
False
a    10
b    20
c    30
d    40
e    50
dtype: int64